body {
    background:#000;
    padding:0px;
    margin:0px;
}
.axis_info {
  position: absolute;
  left: 2em;
  top: 50%;
  max-width: 25em;
  z-index: 0;
  display: none;
  pointer-events: none;
}

@font-face {
    font-family: 'Modernist';
    src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ModernistBold';
    src: url("/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

h1 {
	position: absolute;
	text-align: center;
  	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2em;
	max-width: 50%;
	color: #fff;
	font-family: 'ModernistBold';
	z-index: 1;
	pointer-events: none;
}

.info {
	position: absolute;
	left:72%;
	margin-left:auto;
	margin-right:auto;
	padding-right: 2em;
	margin-top: 6em;
	max-width: 25%;
	color: #fff;
	font-family: 'Modernist';
	z-index: 1;
}

.info_button {
  	position: absolute;
  	right:0;
	margin-left:auto;
	margin-right:3em;
	width:2em;
	margin-top: 3em;
  	z-index: 2;
}

