body {
    background:#000;
    padding:0px;
    margin:0px;
    line-height: 1.618em;
}
.axis_info {
  position: absolute;
  bottom: 0;
  margin: 3em;
  max-width: 28em;
  z-index: 0;
  display: none;
  pointer-events: none;
}

@font-face {
    font-family: 'Modernist';
    src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ModernistBold';
    src: url("/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

h1 {
	position: absolute;
	text-align: center;
  	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2em;
	max-width: 50%;
	color: #fff;
	font-family: 'ModernistBold';
	z-index: 1;
	pointer-events: none;
}

h3 {
	font-size:20px;
}

.info {
	position: absolute;
	left:72%;
	margin-left:auto;
	margin-right:auto;
	padding-right: 2em;
	margin-top: 5em;
	max-width: 25%;
	color: #fff;
	font-family: 'Modernist';
	z-index: 1;
}

.info-demo {
	position: absolute;
	left:3%;
	margin-left:auto;
	margin-right:auto;
	padding-right: 2em;
	margin-top: 5em;
	max-width: 28%;
	color: #fff;
	font-family: 'Modernist';
	z-index: 1;
}

.info_button {
  	position: absolute;
  	right: 0;
	margin-left: auto;
	margin-right: 3em;
	width: 2em;
	margin-top: 3em;
  	z-index: 2;
  	display: none;
  	cursor: pointer;
}

.close_button {
  	position: absolute;
  	left: 31%;
	margin-left: auto;
	margin-right: 3em;
	width: 2em;
	margin-top: 3.8em;
  	z-index: 2;
  	display: none;
  	cursor: pointer;
}

.connection-container {
	display: flex;
	height: 3em;;
	width: 100%;
	margin: 0 auto;
}

.connection-container-demo {
	display: flex;
	height: 3em;;
	width: 100%;
	margin: auto 0;
}

.arrow {
	height: 2em;
	padding: 0.4em;
	display: none;
	cursor: pointer;
}

.color-scale-container {
	display: none;
}

.color_scale {
	position: absolute;
	margin-left: 192px;
	margin-top: 224px;
  	z-index: 2;
	height: 160px;
	width: 16px;
	background-image: linear-gradient(rgb(0, 50, 255), rgb(255, 5, 5));
}

.color_scale_high {
	position: absolute;
	margin-left: 219px;
	margin-top: 214px;
	color: #fff;
  	z-index: 2;
	font-size: 16px;
	font-family: 'Modernist';
}

.color_scale_low {
	position: absolute;
	margin-left: 219px;
	margin-top: 364px;;
	color: #fff;
  	z-index: 2;
	font-size: 16px;
	font-family: 'Modernist';
}

.color_scale_header {
	position: absolute;
	margin-left: 160px;
	margin-top: 180px;
	color: #fff;
  	z-index: 2;
	font-size: 21px;
	font-family: 'ModernistBold';
}

.home-container {
	position: absolute;
	font-family: 'ModernistBold';
	color: #fff;
	padding:0.7em;
	margin:1em;
	cursor: pointer;
}

.home_1 {
	font-size:1.0em;
}

.home_2 {
	font-size: 1.9em;
	margin:-0.2em 0 -0.1em 0;
}

.home_3 {
	font-size:1.5em;
	float:right;
}

.home-container:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border-radius: 4px;
}

