@font-face {
    font-family: 'Modernist';
    src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ModernistBold';
    src: url("/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

body {
  	font-family: "Modernist";
	background: linear-gradient(to bottom right, #A40606, #D98324);
    background-repeat: no-repeat;
    background-attachment: fixed;
  	color: #ecf0f1;
  	line-height: 1.618em;
}

h3 {
  	width: 90%;
  	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-family: 'ModernistBold';
	padding-top: 0.5em;
}

h1 {
	width: 50%;
	margin: 0 auto;
	padding: 1em 0;
	color: #fff;
	font-family: 'ModernistBold';
}

h2 {
  	width: 90%;
	margin: 0 auto;
	font-family: 'ModernistBold';
	padding-top: 1em;
}

.home-button {
  	position: absolute;
  	width: 50px;
  	height: 50px;
  	top: 20px;
  	right: 20px;
  	padding: 10px;
}

.home-button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border-radius: 4px;
}

.intro {
	width: 50%;
	margin: 0 auto;
	color: #fff;
	font-family: 'Modernist';
	padding-bottom: 2em;
}

.section_intro {
	width: 90%;
	margin: 0 auto;
	color: #fff;
	font-family: 'Modernist';
}

.tab {
	overflow: hidden;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	width: 90%;
	margin: 0 auto;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	margin-right: 1px;
	cursor: pointer;
	padding: 0.5em 0.5em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: 0.3s;
	font-size: 17px;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	color:#fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* Style the tab content */
.tabcontent {
	display: none;
	font-family: 'Arial';
	border: 1px solid #ccc;
	border-top: none;
	color: #000;
	width: 87%;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 1.5%;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
}

.background {
	position: fixed;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: linear-gradient(to bottom right, #A40606, #D98324);
}

.article_header {
	font-family: 'ModernistBold';
	font-size: 1.4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.connection-container {
	display: flex;
	height: 3em;;
	width: 90%;
	margin: 0 auto;
	align-items: center;
    justify-content: center;
}

.connection-text {
  	text-align: center;
  	font-size: 1.2em;
	color: #fff;
	font-family: 'Modernist';

}

.arrows {
	height: 1.6em;
	padding: 1.6em;
	cursor: pointer;
}

.slidecontainer {
	margin: auto;
	width: 35%;
}

.demo {
	display: table;
	margin: 0 auto;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	outline: none;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background: #fff;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 50%;
}

/* for firefox */
.slider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	background: #fff;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 50%;
}

.connection-div {
	width: 55%;
	margin: 0 auto;
	padding: 0.8em 2em 2em 2em;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.10);
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	color: #fff;
}

.home-container {
	position: absolute;
	font-family: 'ModernistBold';
	color: #fff;
	padding:0.5em;
	margin:0.5em;
	cursor: pointer;
}

.home_1 {
	font-size:1.0em;
}

.home_2 {
	font-size: 1.9em;
	margin:-0.2em 0 -0.1em 0;
}

.home_3 {
	font-size:1.5em;
	float:right;
}

.home-container:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border-radius: 4px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    min-width: 100%;
    min-height: 100%
}

