@font-face {
    font-family: 'Modernist';
    src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ModernistBold';
    src: url("/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

body {
  	font-family: "Modernist";
	background: linear-gradient(to bottom right, #295094, #a2d566);
    background-repeat: no-repeat;
    background-attachment: fixed;
  	color: #ecf0f1;
  	line-height: 1.618em;
}

textarea {
	font-family: 'Arial';
	padding-left: 0.4em;
}

h1 {
	width: 60%;
	margin: 0 auto;
	padding: 1em 0;
	color: #fff;
	font-family: 'ModernistBold';
}

h2 {
  	width: 60%;
	margin: 0 auto;
	font-family: 'ModernistBold';
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.home-button {
  	position: absolute;
  	width: 50px;
  	height: 50px;
  	top: 20px;
  	right: 20px;
  	padding: 10px;
}

.home-button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border-radius: 4px;
}

.tab_form {
  	width: 58%;
	margin: 0 auto;
	font-family: 'Modernist';
	display: none;
}

.article_form {
  	width: 58%;
	margin: 0 auto;
	font-family: 'Modernist';
	display: none;
}

.intro {
	width: 60%;
	margin: 0 auto;

	color: #fff;
	font-family: 'Modernist';
}

.tab {
	overflow: hidden;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	width: 60%;
	margin: 0 auto;
}

.submit_button {
	float: left;
	border: none;
	outline: none;
	margin-right: 1px;
	margin-top: 1em;
	cursor: pointer;
	padding: 0.5em 0.5em;
	border-radius: 4px;
	transition: 0.3s;
	font-size: 14px;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	color:#fff;
}

.submit_button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* Style the buttons inside the tab */
.tab button {
	float: left;
	border: none;
	outline: none;
	margin-right: 3px;
	cursor: pointer;
	padding: 0.5em 0.5em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: 0.3s;
	font-size: 17px;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	color:#fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* Style the tab content */
.tabcontent {
	display: none;
	font-family: 'Arial';
	border: 1px solid #ccc;
	border-top: none;
	color: #000;
	width: 58%;
	padding: 0 1%;
	margin: 0 auto;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
}

.background {
	position: absolute;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: linear-gradient(to bottom right, #295094, #a2d566);
}

.add_button .tooltiptext {
	visibility: hidden;
	text-align: center;
	position: absolute;
	width: 10em;
	font-size: 0.8em;
}

.add_button:hover .tooltiptext {
	visibility: visible;
}

.article_header {
	font-family: 'ModernistBold';
	font-size: 1.4em;
}

.add_article_button {
	font-family: 'Modernist';
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.5em;
	border-radius: 4px;
	transition: 0.3s;
	font-size: 0.9em;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	color:#fff;
}

.add_article_button:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
	width: 60%;
	margin: 1em auto;
}
.grid-item {
	display: flex;
}
.grid-center {
	display: flex;
	justify-content: center;
}
.grid-right {
	display: flex;
	justify-content: right;
}
      
.switch-field {
	display: flex;
	overflow: hidden;
	border-radius: 4px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	font-size: 0.9em;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background: rgba(255, 255, 255, 0.4);
	color: #fff;
	box-shadow: none;
}

.switch-field:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

.home-container {
	position: absolute;
	font-family: 'ModernistBold';
	color: #fff;
	padding:0.5em;
	margin:0.5em;
	cursor: pointer;
}

.home_1 {
	font-size:1.0em;
}

.home_2 {
	font-size: 1.9em;
	margin:-0.2em 0 -0.1em 0;
}

.home_3 {
	font-size:1.5em;
	float:right;
}

.home-container:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border-radius: 4px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    min-width: 100%;
    min-height: 100%
}


