html, body { height: 100% }

body {
    background: linear-gradient(to bottom right, #A40606, #D98324);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Modernist';
}

@font-face {
    font-family: 'Modernist';
    src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ModernistBold';
    src: url("/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

h1 {
	width: 50%;
	margin: 0 auto;
	padding: 1.5em 1.5em 0.5em 0;
	color: #fff;
	font-family: 'ModernistBold';
}

textarea {
	font-family: 'Arial';
	padding-left: 0.4em;
}


.add_button .tooltiptext {
  visibility: hidden;
  text-align: center;
  position: absolute;
  font-size: 0.5em;
  top: 1em;
}

.add_button:hover .tooltiptext {
  visibility: visible;
}

.intro {
	width: 50%;
	margin: 0 auto;
	padding: 0.5em 2.5em 1.5em 0;
	color: #fff;
	font-family: 'Modernist';
}

.add_button {
	font-size: 1.5em;
	margin-top:0.4em;
	margin-bottom: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	cursor:pointer;
}

.container {
    width: 50%;
	margin: 0 auto;
	padding: 0.8em 2em 2em 2em;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.10);
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	color: #fff;
}

.container2 {
	width: 95%;
	margin-top: 0.5em;
	padding: 0.3em 0.3em 0.5em 1em;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.20);
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	cursor: pointer;
}

.container2:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

.container3 {
	padding: 0.3em 0.5em 0.5em 0.5em;
	margin-left: 1em;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.20);
	border-radius: 4px;
	font-size: 0.8em;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.29);
	cursor: pointer;
}

.container3:hover {
	background-color: #fff;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

.background {
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom right, #A40606, #D98324);
}
