body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
h3 {
    color: #007baa;
    text-align: left;
}

h1 {
    color: #007baa;
    text-align: left;
}

@media (max-width: 700px) {
    h1 {
    	font-size: 22px;
    }
}

a {
    color: #0d58a3;;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 50px;
}

ul, ol {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-top: -30px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  width: 400px;
}
